Repository freerware/work: changes, and which Codecov flags are due for each by the changed paths.
All: v3, v4

codecov.yaml:

coverage:
  status:
    project:
      default:
        target: 90%
flags:
  v3:
    paths:
      - v3/*.go
    carryforward: true
  v4:
    paths:
      - v4/*.go
    carryforward: true

Update copyright comments to 2025. (#136)
  v3/best_effort_unit.go
  v3/best_effort_unit_test.go
  v3/best_effort_uniter.go
  v3/best_effort_uniter_test.go
  v3/data_mapper.go
  v3/sql_data_mapper.go
  v3/sql_unit.go
  v3/sql_unit_test.go
  v3/sql_uniter.go
  v3/sql_uniter_test.go
  v3/type_name.go
  v3/unit.go
  v3/unit_action.go
  v3/unit_action_context.go
  v3/unit_options.go
  v3/unit_options_test.go
  v3/uniter.go
  v3/work_test.go
  v4/best_effort_unit.go
  v4/best_effort_unit_test.go
  v4/identifierer.go
  v4/ider.go
  v4/sql_unit.go
  v4/sql_unit_test.go
  v4/type_name.go
  v4/unit.go
  v4/unit_action.go
  v4/unit_action_context.go
  v4/unit_cache.go
  v4/unit_cache_test.go
  v4/unit_data_mapper.go
  v4/unit_mapper_context.go
  v4/unit_options.go
  v4/unit_options_test.go
  v4/unit_test.go
  v4/uniter.go
  v4/uniter_test.go
  v4/work_test.go
Due: v3, v4

Rename 'logger.go' to 'unit_logger.go'.
  v4/unit_logger.go
Due: v4

Add adapter comments.
  v4/internal/adapters/log.go
  v4/internal/adapters/slog.go
  v4/internal/adapters/zap.go
  v4/unit_logger.go
Due: v4

Introduce no-op logger and use it by default.
  v4/internal/adapters/nop.go
  v4/unit.go
Due: v4

Remove dependency on 'zap' when logging internally.
  v4/best_effort_unit.go
  v4/sql_unit.go
  v4/unit_options.go
Due: v4

Fix adapters.
  v4/internal/adapters/slog.go
  v4/internal/adapters/zap.go
Due: none

Fix error log statement.
  v4/unit.go
Due: v4

Expand test to cover edge case.
  v4/best_effort_unit_test.go
Due: v4

Revert "Expand test to cover edge case."
  v4/best_effort_unit_test.go
Due: v4

Adapt the UnitLogger interface to require message.
  v4/internal/adapters/log.go
  v4/internal/adapters/logrus.go
  v4/internal/adapters/nop.go
  v4/internal/adapters/slog.go
  v4/unit_logger.go
  v4/unit_options.go
  v4/unit_options_test.go
Due: v4

Fix typo in comment.
  v4/internal/adapters/logrus.go
Due: none

Update logging section of V4 README.md.
  v4/README.md
Due: none

Reformat V4 README.md.
  v4/README.md
Due: none

Fix tests to address edge case causing CI failures.
  v4/best_effort_unit_test.go
Due: v4

Introduce support for multiple logging providers. (#135)
  .github/workflows/ci.yaml
  v4/README.md
  v4/best_effort_unit.go
  v4/best_effort_unit_test.go
  v4/go.mod
  v4/go.sum
  v4/internal/adapters/log.go
  v4/internal/adapters/logrus.go
  v4/internal/adapters/nop.go
  v4/internal/adapters/slog.go
  v4/internal/adapters/zap.go
  v4/sql_unit.go
  v4/sql_unit_test.go
  v4/unit.go
  v4/unit/alias.go
  v4/unit_action_context.go
  v4/unit_logger.go
  v4/unit_options.go
  v4/unit_options_test.go
  v4/unit_test.go
Due: v4
