Repository freerware/work: changes, and which Codecov flags are due for each by the changed paths.
All: v1, v3, v4

Remove references to v1/v2 in Makefile & GitHub Actions.
  .github/workflows/ci.yaml
  Makefile
Due: none

Introduce additional tests for work unit options (V3 & V4).
  v3/unit_options_test.go
  v4/unit_options_test.go
Due: v3, v4

Introduce additional tests for work unit options (V3 & V4). (#66)
  v3/unit_options_test.go
  v4/unit_options_test.go
Due: v3, v4

Remove v1 Codecov flag configuration.
  codecov.yaml
Due: none

Remove remaining v1/v2 code.
  best_effort_unit.go
  best_effort_unit_test.go
  best_effort_uniter.go
  best_effort_uniter_test.go
  data_mapper.go
  go.mod
  go.sum
  sql_data_mapper.go
  sql_unit.go
  sql_unit_test.go
  sql_uniter.go
  sql_uniter_test.go
  type_name.go
  unit.go
  uniter.go
  work_test.go
Due: v1

Update README.md.
  README.md
Due: none

Remove code for V1 and V2. (#40)
  .github/workflows/ci.yaml
  Makefile
  README.md
  best_effort_unit.go
  best_effort_unit_test.go
  best_effort_uniter.go
  best_effort_uniter_test.go
  codecov.yaml
  data_mapper.go
  go.mod
  go.sum
  internal/mock/data_mapper.go
  internal/mock/sql_data_mapper.go
  sql_data_mapper.go
  sql_unit.go
  sql_unit_test.go
  sql_uniter.go
  sql_uniter_test.go
  type_name.go
  unit.go
  unit_options.go
  uniter.go
  work_test.go
Due: v1

Upgrade gopkg.in/yaml.v2 to v2.2.8 to address dependabot alerts.
  v3/go.mod
  v3/go.sum
  v4/go.mod
  v4/go.sum
Due: none

More dependency changes.
  v3/go.mod
  v3/go.sum
Due: none

Remove unnecessary versions from CI matrix.
  .github/workflows/ci.yaml
Due: none

Upgrade zap to v1.21.0 for v4.
  v4/go.mod
  v4/go.sum
Due: none

Upgrade tally.
  v4/go.mod
  v4/go.sum
Due: none

Upgrade testify.
  v4/go.mod
  v4/go.sum
Due: none

Upgrade dependencies to ensure v2.2.8+ for gopkg.in/yaml.v2. (#67)
  .github/workflows/ci.yaml
  v3/go.mod
  v3/go.sum
  v4/go.mod
  v4/go.sum
Due: none

Update file headers to include current year.
  v3/best_effort_unit.go
  v3/best_effort_unit_test.go
  v3/best_effort_uniter.go
  v3/best_effort_uniter_test.go
  v3/data_mapper.go
  v3/sql_data_mapper.go
  v3/sql_unit.go
  v3/sql_unit_test.go
  v3/sql_uniter.go
  v3/sql_uniter_test.go
  v3/type_name.go
  v3/unit.go
  v3/unit_action.go
  v3/unit_action_context.go
  v3/unit_options.go
  v3/unit_options_test.go
  v3/uniter.go
  v3/work_test.go
  v4/benchmarks_test.go
  v4/best_effort_unit.go
  v4/best_effort_unit_test.go
  v4/data_mapper.go
  v4/mapper_context.go
  v4/sql_unit.go
  v4/sql_unit_test.go
  v4/type_name.go
  v4/unit.go
  v4/unit/alias.go
  v4/unit_action.go
  v4/unit_action_context.go
  v4/unit_options.go
  v4/unit_options_test.go
  v4/unit_test.go
  v4/uniter.go
  v4/uniter_test.go
  v4/work_test.go
Due: v3, v4

Update file headers to include current year. (#68)
  v3/best_effort_unit.go
  v3/best_effort_unit_test.go
  v3/best_effort_uniter.go
  v3/best_effort_uniter_test.go
  v3/data_mapper.go
  v3/sql_data_mapper.go
  v3/sql_unit.go
  v3/sql_unit_test.go
  v3/sql_uniter.go
  v3/sql_uniter_test.go
  v3/type_name.go
  v3/unit.go
  v3/unit_action.go
  v3/unit_action_context.go
  v3/unit_options.go
  v3/unit_options_test.go
  v3/uniter.go
  v3/work_test.go
  v4/benchmarks_test.go
  v4/best_effort_unit.go
  v4/best_effort_unit_test.go
  v4/data_mapper.go
  v4/mapper_context.go
  v4/sql_unit.go
  v4/sql_unit_test.go
  v4/type_name.go
  v4/unit.go
  v4/unit/alias.go
  v4/unit_action.go
  v4/unit_action_context.go
  v4/unit_options.go
  v4/unit_options_test.go
  v4/unit_test.go
  v4/uniter.go
  v4/uniter_test.go
  v4/work_test.go
Due: v3, v4

Update release information in main README.md.
  README.md
Due: none

Add links.
  v4/README.md
Due: none

Add link for V4 docs.
  README.md
Due: none

Moar links.
  README.md
Due: none

Include info on fresh releases.
  README.md
Due: none

Words.
  v4/README.md
Due: none

Use it in a sentance please.
  v4/README.md
Due: none

Update documentation. (#69)
  README.md
  v4/README.md
Due: none

Undo changes to test structs. Rename ID to Identifier.
  v4/benchmarks_test.go
  v4/best_effort_unit_test.go
  v4/entity.go
  v4/sql_unit_test.go
  v4/unit.go
  v4/unit_test.go
  v4/uniter_test.go
  v4/work_test.go
Due: v4

Walk back Entity interface and replace with unexported interfaces.
  v4/benchmarks_test.go
  v4/best_effort_unit.go
  v4/best_effort_unit_test.go
  v4/identifierer.go
  v4/ider.go
  v4/internal/main/metrics_demo.go
  v4/internal/mock/data_mapper.go
  v4/sql_unit_test.go
  v4/unit.go
  v4/unit/alias.go
  v4/unit_test.go
  v4/work_test.go
Due: v4

Fix erroneous replacements.
  v4/best_effort_unit_test.go
  v4/sql_unit_test.go
Due: v4

Introduce additional unit tests.
  v4/unit_test.go
  v4/work_test.go
Due: v4

Alter 'Cached' method to return copy of map.
  v4/unit.go
Due: v4

Fix cache invalidation.
  v4/unit.go
  v4/unit_test.go
Due: v4

Introduce cache-related metrics.
  v4/best_effort_unit_test.go
  v4/internal/main/metrics_demo.go
  v4/unit.go
Due: v4

Update README.md.
  v4/README.md
Due: none

Introduce work.UnitCache.
  Makefile
  v4/best_effort_unit_test.go
  v4/go.sum
  v4/internal/benchmark/benchmarks_test.go
  v4/internal/test/test.go
  v4/sql_unit_test.go
  v4/unit.go
  v4/unit_cache.go
  v4/unit_cache_test.go
  v4/unit_options.go
  v4/unit_test.go
  v4/uniter_test.go
Due: v4

Move cache metrics into UnitCache.
  v4/unit.go
  v4/unit_cache.go
  v4/unit_cache_test.go
Due: v4

Rename 'invalidate' to 'delete'.
  v4/best_effort_unit_test.go
  v4/unit.go
  v4/unit_cache.go
Due: v4

Tidy up the v4 module.
  v4/go.sum
Due: none

Update V4 README.md.
  v4/README.md
Due: none

Fix comment.
  v4/unit_cache.go
Due: v4

Introduce support for caching. (#55)
  Makefile
  v4/README.md
  v4/best_effort_unit_test.go
  v4/identifierer.go
  v4/ider.go
  v4/internal/benchmark/benchmarks_test.go
  v4/internal/main/metrics_demo.go
  v4/internal/test/test.go
  v4/sql_unit_test.go
  v4/unit.go
  v4/unit_cache.go
  v4/unit_cache_test.go
  v4/unit_options.go
  v4/unit_test.go
  v4/uniter_test.go
Due: v4

Introduce UnitInsertFunc, UnitUpdateFunc, and UnitDeleteFunc options.
  v4/unit/alias.go
  v4/unit_options.go
Due: v4

Path conditions:
  v1: any of: *.go
  v3: any of: v3/*.go
  v4: any of: v4/*.go
