Repository freerware/work: changes, and which Codecov flags are due for each by the changed paths.
All: v3, v4

Fix ripple effect changes from go-mock upgrade in v3.
  v3/best_effort_unit_test.go
  v3/sql_unit_test.go
Due: v3

Remove redundant release info in README.md. Add 'Getting Started'.
  README.md
Due: none

Introduce initial version of continuous benchmarking.
  .github/workflows/cb.yaml
Due: none

Remove unnecessary whitespace. Small tweaks.
  .github/workflows/cb.yaml
  .github/workflows/ci.yaml
Due: none

Use 'actions/cache@v3' instead of 'actions/cache@v1'.
  .github/workflows/cb.yaml
Due: none

Always add benchmark comment.
  .github/workflows/cb.yaml
Due: none

Introduce initial version of continuous benchmarking. (#90)
  .github/workflows/cb.yaml
  .github/workflows/ci.yaml
Due: none

Unexport properties of 'work.UnitOptions'.
  v4/unit.go
  v4/unit_options.go
  v4/unit_options_test.go
Due: v4

Unexport properties of 'work.UnitOptions'. (#91)
  v4/unit.go
  v4/unit_options.go
  v4/unit_options_test.go
Due: v4

Rename vendor-specific unit options to include vendor name.
  v4/unit/alias.go
  v4/unit_options.go
  v4/unit_options_test.go
Due: v4

Fix tests.
  v4/best_effort_unit_test.go
  v4/sql_unit_test.go
  v4/unit_test.go
Due: v4

Rename package-specific unit options to include package name. (#92)
  v4/best_effort_unit_test.go
  v4/sql_unit_test.go
  v4/unit/alias.go
  v4/unit_options.go
  v4/unit_options_test.go
  v4/unit_test.go
Due: v4

Introduce custom cache client support.
  v4/best_effort_unit_test.go
  v4/sql_unit_test.go
  v4/unit.go
  v4/unit/alias.go
  v4/unit_cache.go
  v4/unit_cache_test.go
  v4/unit_options.go
  v4/unit_test.go
Due: v4

Fix benchmark suite.
  v4/internal/benchmark/benchmarks_test.go
Due: none

Add test for 'UnitWithCacheClient' option.
  v4/unit_options_test.go
Due: v4

Introduce mock for UnitCacheClient interface.
  Makefile
  v4/internal/mock/unit_cache.go
Due: none

Add missing tests for cache invalidation failure scenario.
  v4/unit_test.go
Due: v4

Fix demo.
  v4/internal/main/metrics_demo.go
Due: none

Introduce custom cache client support. (#93)
  Makefile
  v4/best_effort_unit_test.go
  v4/internal/benchmark/benchmarks_test.go
  v4/internal/main/metrics_demo.go
  v4/internal/mock/unit_cache.go
  v4/sql_unit_test.go
  v4/unit.go
  v4/unit/alias.go
  v4/unit_cache.go
  v4/unit_cache_test.go
  v4/unit_options.go
  v4/unit_options_test.go
  v4/unit_test.go
Due: v4

Remove redundant release info in README.md. Add 'Getting Started'. (#89)
  README.md
Due: none

Include go versions 1.20 and 1.21 in CI.
  .github/workflows/ci.yaml
Due: none

Include go versions 1.20 and 1.21 in CI. (#112)
  .github/workflows/ci.yaml
Due: none

Add CI support for 1.22.
  .github/workflows/ci.yaml
Due: none

Add CI support for 1.22. (#126)
  .github/workflows/ci.yaml
Due: none

Drop support for 1.18 in v4 CI.
  .github/workflows/ci.yaml
Due: none

Drop support for 1.18 in v4 CI. (#127)
  .github/workflows/ci.yaml
Due: none

Utilize 1.22 for benchmark tests.
  .github/workflows/cb.yaml
Due: none

Utilize 1.22 for benchmark tests. (#128)
  .github/workflows/cb.yaml
Due: none

Upgrade various Github action versions.
  .github/workflows/cb.yaml
  .github/workflows/ci.yaml
Due: none

Upgrade various Github action versions. (#133)
  .github/workflows/cb.yaml
  .github/workflows/ci.yaml
Due: none

Introduce support for multiple logging providers.
  v4/go.mod
  v4/go.sum
  v4/internal/adapters/log.go
  v4/internal/adapters/slog.go
  v4/internal/adapters/zap.go
  v4/logger.go
  v4/unit.go
  v4/unit/alias.go
  v4/unit_action_context.go
  v4/unit_options.go
  v4/unit_options_test.go
Due: v4

Use 'With' prefix for aliased logger options.
  v4/unit/alias.go
Due: none

Rename logger options to use 'With'.
  v4/best_effort_unit_test.go
  v4/sql_unit_test.go
  v4/unit/alias.go
  v4/unit_options.go
  v4/unit_options_test.go
  v4/unit_test.go
Due: v4

Rename logger interface to 'UnitLogger'.
  v4/logger.go
  v4/unit.go
  v4/unit_action_context.go
  v4/unit_options.go
Due: v4

Add alias for logger interface.
  v4/unit/alias.go
Due: none

Update CI for V4 to support 1.21+.
  .github/workflows/ci.yaml
Due: none

Update copyright comments for V4.
  v4/best_effort_unit.go
  v4/best_effort_unit_test.go
  v4/identifierer.go
  v4/ider.go
  v4/sql_unit.go
  v4/sql_unit_test.go
  v4/type_name.go
  v4/unit.go
  v4/unit_action.go
  v4/unit_action_context.go
  v4/unit_cache.go
  v4/unit_cache_test.go
  v4/unit_data_mapper.go
  v4/unit_mapper_context.go
  v4/unit_options.go
  v4/unit_options_test.go
  v4/unit_test.go
  v4/uniter.go
  v4/uniter_test.go
  v4/work_test.go
Due: v4

Update copyright comments for V3.
  v3/best_effort_unit.go
  v3/best_effort_unit_test.go
  v3/best_effort_uniter.go
  v3/best_effort_uniter_test.go
  v3/data_mapper.go
  v3/sql_data_mapper.go
  v3/sql_unit.go
  v3/sql_unit_test.go
  v3/sql_uniter.go
  v3/sql_uniter_test.go
  v3/type_name.go
  v3/unit.go
  v3/unit_action.go
  v3/unit_action_context.go
  v3/unit_options.go
  v3/unit_options_test.go
  v3/uniter.go
  v3/work_test.go
Due: v3

Update copyright comments for V4 aliases.
  v4/unit/alias.go
Due: none

Update copyright comments for V4 internal packages.
  v4/internal/benchmark/benchmarks_test.go
  v4/internal/main/metrics_demo.go
  v4/internal/test/test.go
Due: none

Path conditions:
  v3: any of: v3/*.go
  v4: any of: v4/*.go
